<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>测试连接mongodb是否成功</h1>
    <a href="/page/register"> 去注册 </a>
    <form action='/main/login/' method="post">
        <p>
            <label for='userName'>用户名</label>
            <input type='text' id='userName' name="userName">
        </p>
        <p>
            <label for='passWord'>密码</label>
            <input type='text' id='passWord' name="passWord">
        </p>
        <p>
            <input type='submit' value='登陆'>
        </p>
    </form>
</body>
</html>